<div class="testimonials dark-blue-background wf-section">
  <div class="base-container w-container">
    <p data-w-id="55401512-c153-e73a-5648-3ff91d4ef03d" class="background-text-big blue-background">{{section.settings.button_label_1}}</p>
    <div data-w-id="55401512-c153-e73a-5648-3ff91d4ef03f" class="testimonials-slider-con">
      <div data-delay="4000" data-animation="slide" class="testimonials-slider-2 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="false">
        <div class="testimonials-mask w-slider-mask">
          <div class="testimonials-slide w-slide">
            <div class="testimonials-item-wrapper">
              <p class="testimonials-quote-icon-2">
                <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-_-_-50.png?v=1682001431" loading="lazy" class="icon-guote">
                </p>
              <p class="testimonials-quote blue-background">{{section.settings.button_label_2}}</p>
              <div class="stars-testimonial-wrapper"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"></div>
              <div class="testimonials-quote-author">
                <div class="testimonials-author blue-background">
                  <h5 class="blue-background-name">{{section.settings.button_label_3}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonials-slide w-slide">
            <div class="testimonials-item-wrapper">
              <p class="testimonials-quote-icon-2">
                <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-_-_-50.png?v=1682001431" loading="lazy" class="icon-guote">
                </p>
              <p class="testimonials-quote blue-background">{{section.settings.button_label_4}}</p>
              <div class="stars-testimonial-wrapper"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"></div>
              <div class="testimonials-quote-author">
                <div class="testimonials-author">
                  <h5 class="blue-background-name">{{section.settings.button_label_5}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonials-slide w-slide">
            <div class="testimonials-item-wrapper">
              <p class="testimonials-quote-icon-2">
                <img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-_-_-50.png?v=1682001431" loading="lazy" class="icon-guote">
                </p>
              <p class="testimonials-quote blue-background">{{section.settings.button_label_6}}</p>
              <div class="stars-testimonial-wrapper"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"><img src="https://cdn.shopify.com/s/files/1/0746/0657/5901/files/icons8-star-filled-48.png?v=1682077027" loading="lazy" width="31" alt="" class="star-icon"></div>
              <div class="testimonials-quote-author">
                <div class="testimonials-author">
                  <h5 class="blue-background-name">{{section.settings.button_label_7}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials-left-arrow w-slider-arrow-left">
          <div class="arrow-icon-small blue-background w-icon-slider-left" style="display: block;"></div>
        </div>
        <div class="testimonials-right-arrow blue-background w-slider-arrow-right">
          <div class="arrow-icon-small blue-background w-icon-slider-right" style="display: block;"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Quote slider",
  "tag": "section",
  "class": "section",
  "settings": [
   

{
          "type": "text",
          "id": "button_label_1",
          "default": "Your text",
          "label": "Text"
      
        },
    {
          "type": "text",
          "id": "button_label_2",
          "default": "Your text",
          "label": "Text"
      
        }, {
          "type": "text",
          "id": "button_label_3",
          "default": "Your text",
          "label": "Text"
      
        }, {
          "type": "text",
          "id": "button_label_4",
          "default": "Your text",
          "label": "Text"
      
        }, {
          "type": "text",
          "id": "button_label_5",
          "default": "Your text",
          "label": "Text"
      
        }, {
          "type": "text",
          "id": "button_label_6",
          "default": "Your text",
          "label": "Text"
      
        }, {
          "type": "text",
          "id": "button_label_7",
          "default": "Your text",
          "label": "Text"
      
        }
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "Quote slider"
    }
  ]
}
{% endschema %}
