<div class="section wf-section">
  <div class="base-container">
    <div class="who-we-are-container who-we-are-container-{{section.id}} second-product">
      <div class="about-us-wrap left">
        <div data-w-id="544eb188-7510-3cf4-3a6f-6363078a8dd1" style="opacity:1" class="main-left-title-wrapper full-width">
          {% if section.settings.vertical_txt != blank %}
          <h6 id="fr3" class="vertical_inscription secondary-sections vertical-title">{{section.settings.vertical_txt}}</h6>
          {% endif %}
            <h2 class="section-title-h2" > 
              {% if section.settings.title1 !=blank %}
              {{section.settings.title1}}
            {% endif %}
            {% if section.settings.title2 !=blank %}
              <span class="blue-h2-text">{{section.settings.title2}}</span>
            {% endif %}
            {% if section.settings.title3 !=blank %}
              {{section.settings.title3}}
            {% endif %}
        </h2>
        </div>
        {% if section.settings.paragraph1 %}
          <p data-w-id="1bc9ea59-60b6-49a2-022a-11240335c666" style="opacity:1" class="description-about-us"> {{section.settings.paragraph1}}</p>
        {% endif %}
        {% if section.settings.paragraph2 %}
          <p data-w-id="1bc9ea59-60b6-49a2-022a-11240335c666" style="opacity:1" class="description-about-us"> {{section.settings.paragraph2}}</p>
        {% endif %}
        {% if section.settings.list-tem1 != blank %}
        <div class="list-item-wrapper">
          <div data-w-id="4b9e967a-0ab3-eee6-b68a-40b4ffb6a961" style="opacity:1;  display: block;" class="yellow-point"></div>
          <p data-w-id="7cc19f14-e607-998e-2e94-234d11e3e008" style="opacity:1; width: calc(100% - 10px);" class="list-item-text ">{{section.settings.list-tem1}}</p>
        </div>
        {% endif %}
        {% if section.settings.list-tem2 != blank %}
        <div class="list-item-wrapper">
          <div data-w-id="2e2c30c8-7c8d-973b-1938-11c2e91922c1" style="opacity:1;  display: block;" class="yellow-point ">
            </div>
            <p data-w-id="2e2c30c8-7c8d-973b-1938-11c2e91922c2" style="opacity:1; width: calc(100% - 10px);" class="list-item-text ">{{section.settings.list-tem2}}</p>
          
           </div>
        {% endif %}
        {% if section.settings.button_link != blank %}
            <div class="link-wrapper-with-line">
              <a href="{{section.settings.button_link}}" class="primary-blue-button">{{section.settings.btn-title}}</a>
            </div>
        {% endif %}
      </div>
      <div class="about-us-wrap right">
        <div data-w-id="1bc9ea59-60b6-49a2-022a-11240335c674" style="opacity:1" class="div-block-18">
          {% if section.settings.image != blank %}
          <img src="{{section.settings.image  | img_url: '900x'}}" alt="{{section.settings.image.alt}}" loading="lazy" class="capabilities-image">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{%- if section.settings.img-left_enable-%}
  <style>
    .who-we-are-container{
      flex-direction: row-reverse;
    }
    
  </style>
{%- endif -%}
{%- if section.settings.img_top_mob -%}
  <style>
    @media screen and (max-width: 991px){
      .who-we-are-container-{{section.id}}{
      flex-direction: column-reverse !important;
    }  }
  </style>
 
{%- endif -%}
{% schema %}
{
  "name": "Content with image",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "text",
    "id": "vertical_txt",
    "label": "Vertical text"
  },
  {
    "type": "text",
    "id": "title1",
    "label": "Title, black"
  },
  {
    "type": "text",
    "id": "title2",
    "label": "Title, blue"
  },
  {
    "type": "text",
    "id": "title3",
    "label": "Title, black"
  },
  {
    "type": "textarea",
    "id": "paragraph1",
    "label": "Paragraph 1"
  },
  {
    "type": "textarea",
    "id": "paragraph2",
    "label": "Paragraph 2"
  },
  {
    "type": "textarea",
    "id": "list-tem1",
    "label": "List item text"
  },
  {
    "type": "textarea",
    "id": "list-tem2",
    "label": "List item text"
  },
  {
    "type": "text",
    "id": "btn-title",
    "label": "Button title",
    "default": "Contact us"
  },
  {
    "type": "url",
    "id": "button_link",
    "label": "Button link"
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "checkbox",
    "id": "img-left_enable",
    "default": false,
    "label": "Image position is left"
  },
  {
    "type": "checkbox",
    "id": "img_top_mob",
    "default": false,
    "label": "Mobile, img top"
  }
  ],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "Content with image"
    }
  ]
}
{% endschema %}
