<div class="section home-ruc-3-banner-section wf-section">
  <div data-w-id="dced4357-aad1-6919-ad7f-a373e9a3e81e" style="opacity:1" class="banner-slider-container">
    <div class="home-1-banner">
      <div class="main-title-wrapper">
        <h6 class=" vertical_inscription vertical_header vertical-title">{{section.settings.button_label_1}}</h6>
        <h1 class="home-1-title hero-home">{{section.settings.button_label_2}} <span class="text-span-5">{{section.settings.button_label_3}}</span> {{section.settings.button_label_4}}<span class="blue-h1-title"></span></h1>
      </div>
      <p class="white-description-home-1">{{section.settings.button_label_5}}</p>
      <div class="home-buttons-wrapper">
        
        <a href="{{section.settings.link}}" class="primary-blue-button white-text">{{section.settings.button_label_6}}</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "banner header",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "url",
    "id": "link",
    "label": "Button link"
  },
    {
          "type": "text",
          "id": "button_label_1",
          "default": "Our company",
          "label": "Our company"
      
        },
    {
          "type": "text",
          "id": "button_label_2",
          "default": "Our company",
          "label": "Our company"
      
        },
    {
          "type": "text",
          "id": "button_label_3",
          "default": "Distributing",
          "label": "Distributing"
      
        },
    {
          "type": "text",
          "id": "button_label_4",
          "default": "Text 4",
          "label": "Text 4"
      
        },
    {
          "type": "text",
          "id": "button_label_5",
          "default": "Text ",
          "label": "Text 5"
      
        },
    {
          "type": "text",
          "id": "button_label_6",
          "default": "Text-6",
          "label": "Text 6"
      
        },
    {
          "type": "text",
          "id": "button_label_7",
          "default": "Link Button",
          "label": "Link Button"
      
        }
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "banner header"
    }
  ]
}
{% endschema %}
